<p>Привет <%= @user.name %>!</p>

<p>Тут будет ссылка на восстановление</p>

<%=link_to "Пожалуйста нажмите на ссылку для сброса пароля", edit_user_password_url(reset_password_token: @token), html_options = { style: "font-weight: bold" } %> 



